<header class="header">
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="http://localhost:3000/posts">Twitteeeer</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="http://localhost:3000/posts">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="http://localhost:3000/posts/new">New Post</a></li>
            </ul>
        </div>
    </nav>
</header>